name: Build TempestBoss

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build with Maven
        run: mvn -B -DskipTests package -f pom.xml

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: TempestBoss-jar
          path: target/*.jar
